@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-mainBg text-mainText font-sans;
  }
}

@layer utilities {
  .colorashin-text span:nth-child(1) {
    color: #ffd700;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
  .colorashin-text span:nth-child(2) {
    color: #00e676;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
  .colorashin-text span:nth-child(3) {
    color: #2979ff;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
  .colorashin-text span:nth-child(4) {
    color: #ff4081;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
  .colorashin-text span:nth-child(5) {
    color: #ffd700;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
  .colorashin-text span:nth-child(6) {
    color: #00e676;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
  .colorashin-text span:nth-child(7) {
    color: #2979ff;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
  .colorashin-text span:nth-child(8) {
    color: #ff4081;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
  .colorashin-text span:nth-child(9) {
    color: #ffd700;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
  .colorashin-text span:nth-child(10) {
    color: #00e676;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
  }
}

/* Scroll Indicator Ring */
.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.1s;
  transform-origin: 50% 50%;
  stroke: #2979ff;
}

:root {
  --main-bg-color: oklch(0.99 0.005 105);
  --secondary-bg-color: oklch(85.076% 0.08237 294.671);
  --main-text-color: #000000;
  --accent-color: #ff4081;
  --font-family: "Chango", cursive;
  --secondary-font-family:
    "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--secondary-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

.colorashin span:nth-child(1) {
  color: #ffd700;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
} /* Amarelo */
.colorashin span:nth-child(2) {
  color: #00e676;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
} /* Verde */
.colorashin span:nth-child(3) {
  color: #2979ff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
} /* Azul */
.colorashin span:nth-child(4) {
  color: #ff4081;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
} /* Vermelho/Rosa */

.colorashin span:nth-child(5) {
  color: #ffd700;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}
.colorashin span:nth-child(6) {
  color: #00e676;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}
.colorashin span:nth-child(7) {
  color: #2979ff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}
.colorashin span:nth-child(8) {
  color: #ff4081;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}

.colorashin span:nth-child(9) {
  color: #ffd700;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}
.colorashin span:nth-child(10) {
  color: #00e676;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}
